/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #3ea9e7 !important;
}

.alertplaceholder {
  margin-top: 30px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.alert-icon {
  font-size: 30px;
  margin-right: 10px;
}
